streamlit
requests
langchain
langchain-core
langchain-text-splitters
langsmith
PyPDF2
python-docx
langchain-openai
AzureOpenAI
openai
langchain_community
pypdf
faiss-cpu
nltk
gensim
tenacity
Pillow
PyMuPDF
python-pptx
docx2txt
pylatexenc
win32com
